USE [master]
GO
/****** Object:  Database [D:\USERS\FABIANO\SOURCE\REPOS\ASPNETCORE-PLAYGROUND\CUSTOMIDENTITYSTORES\DATASOURCE\CUSTOMIDENTITYSTORES.MDF]    Script Date: 23/11/2017 16:22:41 ******/
CREATE DATABASE [D:\USERS\FABIANO\SOURCE\REPOS\ASPNETCORE-PLAYGROUND\CUSTOMIDENTITYSTORES\DATASOURCE\CUSTOMIDENTITYSTORES.MDF]
 CONTAINMENT = NONE
 ON  PRIMARY
( NAME = N'CustomIdentityStores', FILENAME = N'D:\Users\Fabiano\Source\Repos\aspnetcore-playground\CustomIdentityStores\DataSource\CustomIdentityStores.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON
( NAME = N'CustomIdentityStores_log', FILENAME = N'D:\Users\Fabiano\Source\Repos\aspnetcore-playground\CustomIdentityStores\DataSource\CustomIdentityStores_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D:\USERS\FABIANO\SOURCE\REPOS\ASPNETCORE-PLAYGROUND\CUSTOMIDENTITYSTORES\DATASOURCE\CUSTOMIDENTITYSTORES.MDF].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D:\USERS\FABIANO\SOURCE\REPOS\ASPNETCORE-PLAYGROUND\CUSTOMIDENTITYSTORES\DATASOURCE\CUSTOMIDENTITYSTORES.MDF]
GO
USE [D:\USERS\FABIANO\SOURCE\REPOS\ASPNETCORE-PLAYGROUND\CUSTOMIDENTITYSTORES\DATASOURCE\CUSTOMIDENTITYSTORES.MDF]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 23/11/2017 16:22:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [char](32) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserRoles]    Script Date: 23/11/2017 16:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserRoles](
	[UserId] [char](32) NOT NULL,
	[RoleId] [char](32) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 23/11/2017 16:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [char](32) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[PhoneNumber] [varchar](100) NULL,
	[PasswordHash] [varchar](max) NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[NormalizedUserName] [varchar](100) NOT NULL,
	[NormalizedEmail] [varchar](100) NOT NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserTokens]    Script Date: 23/11/2017 16:22:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTokens](
	[Id] [char](32) NOT NULL,
	[UserId] [char](32) NOT NULL,
	[LoginProvider] [varchar](256) NOT NULL,
	[Name] [varchar](256) NOT NULL,
	[Value] [varchar](max) NOT NULL,
PRIMARY KEY CLUSTERED
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Roles]
GO
ALTER TABLE [dbo].[UserRoles]  WITH CHECK ADD  CONSTRAINT [FK_UserRoles_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserRoles] CHECK CONSTRAINT [FK_UserRoles_Users]
GO
ALTER TABLE [dbo].[UserTokens]  WITH CHECK ADD  CONSTRAINT [FK_UserTokens_Users] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[UserTokens] CHECK CONSTRAINT [FK_UserTokens_Users]
GO
USE [master]
GO
